<%= form_for(@daily_report) do |f| %>
  <% if @daily_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_report.errors.count, "error") %> prohibited this daily_report from being saved:</h2>

      <ul>
      <% @daily_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
